In [3]:
import pandas as pd 
import numpy as np
import seaborn as sns

In [11]:
df = pd.read_csv('../Data/donors.csv')

C:\Users\josem\.conda\envs\python-standard\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (9,412) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [12]:
df

,Unnamed: 0,ODATEDW,OSOURCE,TCODE,STATE,ZIP,MAILCODE,PVASTATE,DOB,NOEXCH,...,AVGGIFT,CONTROLN,HPHONE_D,RFA_2R,RFA_2F,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,GEOCODE2
0,0,2009-01-01,GRI,0,IL,61081,,,1957-12-01,0,...,7.741935,95515,0,L,4,E,X,X,X,C
1,1,2014-01-01,BOA,1,CA,91326,,,1972-02-01,0,...,15.666667,148535,0,L,2,G,X,X,X,A
2,2,2010-01-01,AMH,1,NC,27017,,,NaN,0,...,7.481481,15078,1,L,4,E,X,X,X,C
3,3,2007-01-01,BRY,0,CA,95953,,,1948-01-01,0,...,6.812500,172556,1,L,4,E,X,X,X,C
4,4,2006-01-01,,0,FL,33176,,,1940-01-01,0,...,6.864865,7112,1,L,2,F,X,X,X,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,95407,2016-01-01,ASE,1,AK,99504,,,NaN,0,...,25.000000,184568,0,L,1,G,X,X,X,C
95408,95408,2016-01-01,DCD,1,TX,77379,,,1970-01-01,0,...,20.000000,122706,1,L,1,F,X,X,X,A
95409,95409,2015-01-01,MBC,1,MI,48910,,,1958-01-01,0,...,8.285714,189641,1,L,3,E,X,X,X,B
95410,95410,2006-01-01,PRV,0,CA,91320,,,1960-05-01,0,...,12.146341,4693,1,L,4,F,X,X,X,A
95411,95411,2008-01-01,MCC,2,NC,28409,,,1938-01-01,0,...,96.794872,185114,1,L,1,G,C,1,C,C

In [13]:
interests = [
'COLLECT1',
'VETERANS',
'BIBLE',
'CATLG',
'HOMEE',
'PETS',
'CDPLAY',
'STEREO',
'PCOWNERS',
'PHOTO',
'CRAFTS',
'FISHER',
'GARDENIN',
'BOATS',
'WALKER',
'KIDSTUFF',
'CARDS',
'PLATES',
'LIFESRC'
]

mags = [
'MBCRAFT',
'MBGARDEN',
'MBBOOKS',
'MBCOLECT',
'MAGFAML',
'MAGFEM',
'MAGMALE',
'PUBGARDN',
'PUBCULIN',
'PUBHLTH',
'PUBDOITY',
'PUBNEWFN',
'PUBPHOTO',
'PUBOPP'
]

contributions = [
'HIT',
'RFA_2R',
'RFA_2F',
'RFA_2A',
'MDMAUD_R',
'MDMAUD_F',
'MDMAUD_A'
]

demographic = ['DOB', 
               'MDMAUD',
               'DOMAIN', 
               'NUMCHLD', 
               'INCOME', 
               'GENDER', 
               'WEALTH1', 
               'HIT', 
               'MAJOR']

In [24]:
working_df = df[contributions]
working_df

       HIT RFA_2R  RFA_2F RFA_2A MDMAUD_R MDMAUD_F MDMAUD_A
0        0      L       4      E        X        X        X
1       16      L       2      G        X        X        X
2        2      L       4      E        X        X        X
3        2      L       4      E        X        X        X
4       60      L       2      F        X        X        X
...    ...    ...     ...    ...      ...      ...      ...
95407    0      L       1      G        X        X        X
95408    1      L       1      F        X        X        X
95409    0      L       3      E        X        X        X
95410    0      L       4      F        X        X        X
95411    3      L       1      G        C        1        C

[95412 rows x 7 columns]

In [30]:
for x in df[demographic].columns: 
    print(df[x].unique())

['1957-12-01' '1972-02-01' nan '1948-01-01' '1940-01-01' '1980-01-01'
 '1952-11-01' '1943-01-01' '1946-03-01' '1947-09-01' '1974-01-01'
 '1972-01-01' '1956-01-01' '1936-01-01' '1943-11-01' '1963-07-01'
 '1976-01-01' '1934-01-01' '1968-09-01' '1946-01-01' '1949-04-01'
 '1949-01-01' '1930-02-01' '1933-11-01' '1988-01-01' '1973-10-01'
 '1966-11-01' '1951-10-01' '2010-08-01' '1957-06-01' '1950-01-01'
 '1934-11-01' '1972-10-01' '1957-03-01' '1978-01-01' '1970-01-01'
 '1984-01-01' '1938-01-01' '1982-01-01' '1968-01-01' '1977-01-01'
 '1938-05-01' '1946-08-01' '1964-03-01' '1945-12-01' '1948-07-01'
 '1956-05-01' '1971-01-01' '1964-01-01' '1952-01-01' '1985-01-01'
 '1955-01-01' '1954-01-01' '1958-12-01' '1941-01-01' '1944-10-01'
 '1931-01-01' '1967-07-01' '2000-09-01' '1934-08-01' '1949-09-01'
 '1959-01-01' '1940-06-01' '1932-06-01' '1966-01-01' '1966-12-01'
 '1957-01-01' '1941-08-01' '1992-01-01' '1954-06-01' '1942-01-01'
 '1960-01-01' '1956-07-01' '1947-01-01' '1945-03-01' '1932-01-01'
 '1979-01-01' '1945-01-01' '1935-07-01' '1942-07-01' '1984-10-01'
 '1935-02-01' '1971-02-01' '1944-08-01' '1950-04-01' '1976-05-01'
 '1937-01-01' '1962-01-01' '1977-10-01' '1939-02-01' '1981-01-01'
 '1957-08-01' '1951-01-01' '1950-06-01' '1930-03-01' '1973-01-01'
 '1973-12-01' '1980-11-01' '1978-12-01' '1944-01-01' '1961-01-01'
 '1969-01-01' '1933-05-01' '1939-11-01' '1936-04-01' '1953-09-01'
 '1965-01-01' '1933-06-01' '1957-11-01' '1972-07-01' '1943-03-01'
 '1947-10-01' '1943-08-01' '1935-09-01' '1939-12-01' '1969-03-01'
 '1951-02-01' '1983-10-01' '1951-05-01' '1967-09-01' '1981-07-01'
 '1972-08-01' '1953-12-01' '1935-10-01' '1930-01-01' '1957-05-01'
 '1962-11-01' '1933-09-01' '1966-10-01' '1969-12-01' '1937-02-01'
 '1949-10-01' '1966-02-01' '1963-01-01' '1931-05-01' '1962-12-01'
 '1943-10-01' '1959-12-01' '1954-10-01' '1944-11-01' '1963-12-01'
 '1959-05-01' '1970-06-01' '1953-01-01' '1936-10-01' '1958-01-01'
 '1939-04-01' '1935-04-01' '1948-09-01' '1935-03-01' '1964-06-01'
 '1931-08-01' '1959-02-01' '1945-06-01' '1950-05-01' '2001-02-01'
 '1935-06-01' '1966-05-01' '1975-02-01' '1979-05-01' '1968-12-01'
 '1946-07-01' '1947-11-01' '1931-06-01' '1940-09-01' '1942-11-01'
 '1969-09-01' '2000-01-01' '1930-06-01' '1977-05-01' '1935-01-01'
 '1987-01-01' '1960-03-01' '1964-09-01' '1939-09-01' '1941-04-01'
 '1934-12-01' '1932-12-01' '1955-02-01' '1967-01-01' '1946-12-01'
 '1934-04-01' '1971-08-01' '1989-02-01' '1990-04-01' '1967-06-01'
 '1930-04-01' '1941-09-01' '1950-07-01' '1970-10-01' '1939-01-01'
 '1936-07-01' '1981-06-01' '1980-02-01' '1943-12-01' '1973-03-01'
 '1971-06-01' '1959-04-01' '1943-07-01' '2010-01-01' '1969-02-01'
 '1974-10-01' '1990-01-01' '1944-02-01' '1986-01-01' '1983-01-01'
 '2000-08-01' '1996-09-01' '1952-07-01' '1932-08-01' '1990-08-01'
 '1940-10-01' '1960-12-01' '1938-07-01' '1963-11-01' '1939-08-01'
 '1945-11-01' '1930-12-01' '1975-01-01' '1937-05-01' '1943-02-01'
 '1943-09-01' '1931-07-01' '1945-04-01' '1972-12-01' '1937-06-01'
 '1944-06-01' '1970-09-01' '1933-01-01' '1949-05-01' '1936-05-01'
 '1954-12-01' '1962-06-01' '1935-11-01' '1950-12-01' '1942-09-01'
 '1960-06-01' '1963-02-01' '1968-02-01' '1974-12-01' '1949-02-01'
 '1974-08-01' '1936-08-01' '1988-04-01' '1984-03-01' '1958-11-01'
 '1988-06-01' '1943-05-01' '1930-07-01' '1964-12-01' '1951-07-01'
 '1932-10-01' '1942-02-01' '1975-12-01' '1946-09-01' '1936-03-01'
 '1967-12-01' '1961-12-01' '1958-09-01' '1956-11-01' '1935-12-01'
 '1962-09-01' '1981-11-01' '1953-04-01' '1939-10-01' '1951-11-01'
 '1959-03-01' '1960-09-01' '1990-12-01' '1942-06-01' '2010-09-01'
 '1938-09-01' '1936-11-01' '2011-02-01' '1973-05-01' '1931-03-01'
 '1942-08-01' '1954-11-01' '1989-01-01' '1974-11-01' '1950-11-01'
 '1985-05-01' '1947-07-01' '1958-07-01' '1955-04-01' '1966-03-01'
 '1949-07-01' '1967-10-01' '1935-05-01' '1980-07-01' '1946-06-01'
 '1961-02-01' '1975-09-01' '1948-11-01' '1938-04-01' '1949-12-01'
 '1994-01-01' '1955-07-01' '1941-12-01' '1981-02-01' '1937-12-01'
 '1932-03-01' '1987-10-01' '2001-01-01' '1975-06-01' '1962-10-01'
 '1933-07-01' '1939-06-01' '1951-08-01' '1938-11-01' '1978-03-01'
 '1934-09-01' '2000-02-01' '1957-04-01' '1944-07-01' '1979-09-01'
 '1934-03-01' '1980-04-01' '1936-12-01' '1991-01-01' '1975-07-01'
 '1934-02-01' '1960-07-01' '1952-05-01' '1970-12-01' '1941-02-01'
 '1931-12-01' '1963-08-01' '1972-03-01' '1937-10-01' '1980-05-01'
 '1987-07-01' '1953-03-01' '1931-09-01' '1940-12-01' '1960-04-01'
 '1971-03-01' '1951-09-01' '1954-03-01' '1980-08-01' '1941-03-01'
 '1965-08-01' '1938-10-01' '1932-02-01' '1948-12-01' '1961-05-01'
 '1954-07-01' '1965-07-01' '2010-07-01' '1965-10-01' '1947-02-01'
 '1976-08-01' '1959-11-01' '1943-04-01' '1973-02-01' '1930-05-01'
 '1982-11-01' '1967-03-01' '1930-08-01' '1990-07-01' '1959-08-01'
 '1973-07-01' '1956-08-01' '1961-06-01' '1966-09-01' '1952-08-01'
 '1958-03-01' '1975-10-01' '1941-06-01' '1978-05-01' '1937-09-01'
 '1976-09-01' '1936-06-01' '1932-09-01' '1968-05-01' '1953-02-01'
 '1984-05-01' '1968-03-01' '1970-05-01' '1960-05-01' '1937-07-01'
 '1976-02-01' '1974-02-01' '1945-05-01' '1970-07-01' '1946-04-01'
 '1970-03-01' '1982-08-01' '1981-03-01' '1949-11-01' '1998-01-01'
 '1937-03-01' '1967-02-01' '1977-04-01' '1942-05-01' '1974-04-01'
 '1977-11-01' '1941-10-01' '1940-02-01' '1989-04-01' '1938-06-01'
 '1973-11-01' '1986-02-01' '1985-03-01' '1975-04-01' '1966-04-01'
 '1965-06-01' '1949-03-01' '1987-12-01' '1980-09-01' '1940-03-01'
 '1977-12-01' '1955-09-01' '1934-07-01' '1938-08-01' '1978-11-01'
 '1965-02-01' '1946-05-01' '1983-06-01' '1941-05-01' '1946-02-01'
 '1955-05-01' '1973-09-01' '1959-07-01' '1976-11-01' '1981-09-01'
 '1934-10-01' '1961-10-01' '1945-09-01' '1932-07-01' '1976-10-01'
 '1986-09-01' '1981-10-01' '1978-08-01' '1948-04-01' '1970-04-01'
 '1990-05-01' '1945-10-01' '1944-12-01' '1967-11-01' '1980-10-01'
 '1979-07-01' '1940-04-01' '1979-08-01' '1964-08-01' '1988-07-01'
 '1956-02-01' '1967-08-01' '1969-10-01' '1935-08-01' '1953-08-01'
 '1930-09-01' '1954-02-01' '1975-08-01' '1938-02-01' '1931-04-01'
 '1942-04-01' '1938-12-01' '1965-11-01' '1948-06-01' '1953-07-01'
 '1978-04-01' '1978-07-01' '1982-06-01' '1943-06-01' '1972-04-01'
 '1942-03-01' '1977-08-01' '1972-11-01' '1961-09-01' '1949-06-01'
 '1959-10-01' '1964-04-01' '1957-02-01' '1937-04-01' '1971-11-01'
 '1970-02-01' '1932-05-01' '1948-08-01' '1984-09-01' '1944-09-01'
 '1931-02-01' '1974-03-01' '2010-02-01' '1973-06-01' '1968-06-01'
 '1948-02-01' '1975-05-01' '1982-03-01' '1979-03-01' '1955-11-01'
 '1978-02-01' '1948-03-01' '1960-02-01' '1938-03-01' '1960-11-01'
 '1971-09-01' '1952-09-01' '1957-09-01' '1954-05-01' '1983-11-01'
 '1931-10-01' '1946-11-01' '1951-12-01' '1958-02-01' '1949-08-01'
 '1951-06-01' '1975-11-01' '1932-04-01' '1968-10-01' '1947-12-01'
 '1952-10-01' '1973-04-01' '1930-11-01' '1962-08-01' '1968-08-01'
 '1951-04-01' '1939-03-01' '1940-08-01' '1957-10-01' '1982-09-01'
 '1977-07-01' '1933-08-01' '1933-02-01' '1950-03-01' '1962-05-01'
 '1944-04-01' '1946-10-01' '1957-07-01' '1963-09-01' '1977-06-01'
 '1930-10-01' '1941-07-01' '1932-11-01' '1987-08-01' '1971-12-01'
 '1940-07-01' '1985-07-01' '1950-08-01' '1942-12-01' '1977-03-01'
 '1940-11-01' '1934-06-01' '1967-04-01' '1966-08-01' '1937-11-01'
 '1939-07-01' '1947-03-01' '1956-04-01' '1968-11-01' '1944-03-01'
 '2000-04-01' '1951-03-01' '1964-02-01' '1961-07-01' '1999-06-01'
 '1952-02-01' '1942-10-01' '1953-06-01' '1980-12-01' '2000-07-01'
 '1936-02-01' '1983-04-01' '1958-10-01' '1961-03-01' '1971-07-01'
 '1947-06-01' '1939-05-01' '1974-06-01' '1979-02-01' '1966-07-01'
 '1954-08-01' '1940-05-01' '1954-09-01' '1933-10-01' '1944-05-01'
 '2000-03-01' '1958-08-01' '1964-07-01' '1971-10-01' '1945-07-01'
 '1959-06-01' '1956-12-01' '1960-08-01' '1960-10-01' '1983-05-01'
 '1950-09-01' '1996-01-01' '1965-09-01' '1963-04-01' '1947-08-01'
 '1971-05-01' '1936-09-01' '1993-01-01' '1933-04-01' '1984-11-01'
 '1941-11-01' '1963-06-01' '1981-12-01' '1948-05-01' '1978-10-01'
 '1962-07-01' '1948-10-01' '1956-09-01' '1969-11-01' '1956-06-01'
 '1953-05-01' '1955-12-01' '2010-04-01' '1955-08-01' '1931-11-01'
 '1969-05-01' '1955-10-01' '1950-02-01' '1982-12-01' '1959-09-01'
 '1979-04-01' '1963-05-01' '1986-07-01' '1934-05-01' '1958-05-01'
 '1962-04-01' '1976-04-01' '1990-03-01' '1977-09-01' '1961-04-01'
 '1969-08-01' '1954-04-01' '1953-11-01' '1976-03-01' '1955-06-01'
 '1976-12-01' '1964-11-01' '1981-05-01' '1952-12-01' '1976-07-01'
 '1966-06-01' '1956-10-01' '1937-08-01' '1969-06-01' '1981-08-01'
 '1973-08-01' '1945-08-01' '1991-02-01' '1955-03-01' '1962-03-01'
 '1978-09-01' '1950-10-01' '1933-03-01' '1995-01-01' '1974-07-01'
 '1972-05-01' '1963-10-01' '1983-09-01' '1990-09-01' '1971-04-01'
 '2010-06-01' '1978-06-01' '1983-12-01' '1970-11-01' '1980-06-01'
 '1969-07-01' '2010-05-01' '1970-08-01' '1968-04-01' '1985-11-01'
 '1964-10-01' '1947-04-01' '1982-07-01' '1979-06-01' '1945-02-01'
 '1952-06-01' '1989-05-01' '1965-05-01' '1993-02-01' '1956-03-01'
 '1995-03-01' '1975-03-01' '1995-11-01' '2004-08-01' '1965-12-01'
 '1947-05-01' '1987-04-01' '1977-02-01' '1974-09-01' '1969-04-01'
 '1982-02-01' '1958-06-01' '1983-02-01' '2000-06-01' '1985-06-01'
 '1990-02-01' '1984-02-01' '1979-12-01' '1983-08-01' '1967-05-01'
 '2002-06-01' '1958-04-01' '1952-03-01' '2000-05-01' '1972-09-01'
 '1984-07-01' '1933-12-01' '1982-05-01' '1965-03-01' '1985-04-01'
 '1952-04-01' '1986-04-01' '1986-10-01' '1963-03-01' '1994-02-01'
 '1986-11-01' '1979-10-01' '1972-06-01' '1961-11-01' '1984-08-01'
 '1989-10-01' '1997-01-01' '1976-06-01' '1991-11-01' '1989-11-01'
 '2007-03-01' '2011-01-01' '1961-08-01' '1990-06-01' '1962-02-01'
 '1983-07-01' '1989-09-01' '2015-08-01' '1985-08-01' '1986-08-01'
 '1988-12-01' '1974-05-01' '1983-03-01' '1992-03-01' '1984-06-01'
 '1964-05-01' '1953-10-01' '1991-06-01' '1987-03-01' '1985-10-01'
 '1980-03-01' '1968-07-01' '1985-09-01' '1982-10-01' '1965-04-01'
 '1981-04-01' '1995-07-01' '1988-03-01' '1984-12-01' '1987-05-01'
 '1996-02-01' '1991-04-01' '1987-02-01' '1988-10-01' '1991-08-01'
 '1994-03-01' '1986-12-01' '1979-11-01' '1986-05-01' '1988-08-01'
 '1989-03-01' '1987-11-01' '1988-05-01' '2010-03-01' '1989-06-01'
 '1993-09-01' '1988-11-01' '2016-12-01' '1988-09-01' '2008-12-01'
 '1982-04-01' '2017-06-01' '1986-06-01' '2001-08-01' '2001-05-01'
 '2006-10-01' '1984-04-01' '1993-08-01' '1992-08-01' '1995-04-01'
 '1992-04-01' '1985-02-01' '1986-03-01' '1991-05-01' '2017-04-01'
 '1996-03-01' '1993-04-01' '1994-05-01' '1992-09-01' '1995-09-01'
 '1985-12-01' '1987-09-01' '2017-08-01' '2016-10-01' '1999-09-01'
 '1994-11-01' '1998-10-01' '1989-08-01' '2012-06-01' '1988-02-01'
 '1992-05-01' '1997-10-01' '1993-11-01' '2016-11-01' '2007-08-01'
 '1989-07-01' '1991-07-01' '2017-10-01' '1994-04-01' '1994-12-01'
 '2001-06-01' '2013-09-01' '2015-07-01' '1990-10-01' '2004-03-01'
 '1991-09-01' '1993-06-01' '1992-11-01' '1996-08-01' '1992-06-01'
 '1993-12-01' '2017-01-01' '2015-09-01' '1993-07-01' '1996-06-01'
 '2001-12-01' '1992-02-01' '2010-12-01' '2001-03-01' '2009-12-01'
 '1997-05-01' '2015-02-01' '1987-06-01' '2015-01-01' '2006-11-01'
 '2004-05-01' '1989-12-01' '1998-07-01' '2016-01-01' '1994-10-01'
 '2005-05-01' '2002-03-01' '1995-02-01' '2013-10-01' '2003-05-01'
 '1991-03-01' '2000-11-01']
['XXXX' 'C1CM' 'D1CM' 'L1CM' 'C2CM' 'D2CM' 'I1CM' 'I2MM' 'I1LM' 'L2CM'
 'C1MM' 'C1LM' 'D5CM' 'I2CM' 'D5TM' 'L1LM' 'D5MM' 'C2MM' 'I5CM' 'C5CM'
 'I5MM' 'C2LM' 'C5MM' 'D2MM' 'L1MM' 'L2LM' 'C5TM' 'L2TM']
['T2' 'S1' 'R2' 'S2' 'T1' 'R3' 'U1' 'C2' 'C1' 'U3' ' ' 'R1' 'U2' 'C3' 'U4'
 'S3' 'T3']
[nan  1.  2.  3.  4.  5.  6.  7.]
[nan  6.  3.  1.  4.  2.  7.  5.]
['F' 'M' ' ' 'C' 'U' 'J' 'A']
[nan  9.  1.  4.  2.  6.  0.  5.  8.  3.  7.]
[  0  16   2  60   1   3  17   6  10   7  13   8   5   9   4  15  12  26
  19  24  11  14  22  30  25  18  23  20  28  35  33  21  31  39  27  37
  41  65  32  45 240  29  44  34  42  36  52  40  59  46  51  47  38  49
  53  50  43  48  61  75  55  63  58  57  56  84  54  67  79  66 241  62
  64  73  69]
[' ' 'X']